<div class="container">
    <h1 class="text-center mt-2">Lista de Planetas</h1>

    <div class="row">
    <% @planets['results'].each do |planet| %>
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="card-header">
                        <%= planet['name'] %>
                        <%= link_to '', {:controller => "favorite", :action => "create", 
                            :favorite => planet, :url => planet['url']}, :method=>:post, 
                            class: "btn btn-success  float-right fas fa-heart"  
                        %>
                    </div>
                    <div class="card-body">
                        <p>Diametro: <%= planet['diameter'] %> <p>
                        <p>Rotação: <%= planet['rotation_period'] %> <p>
                        <p>Orbita: <%= planet['orbital_period'] %> <p>
                        <p>Gravidade: <%= planet['gravity'] %> <p>
                        <p>População: <%= planet['population'] %> <p>
                        <p>Clima: <%= planet['climate'] %> <p>
                        <p>Terreno: <%= planet['terrain'] %> <p>
                        <p>Corpos de água: <%= planet['surface_water']%> <p>
                        <p>Residentes: <%= planet['residents'] %> <p>
                        <p>Filmes: <%= planet['films'] %> <p>
                        <p>Criado em: <%= planet['created'] %> <p>
                        <p>Atualizado em: <%= planet['edited'] %> <p><br>        
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>