<div class="container">
    <h1 class="text-center mt-2">Lista de Espécies</h1>
    <div class="row">
    <% @species['results'].each do |specie| %>
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="card-header">
                        <%= specie['name'] %>
                        <%= link_to "", {:controller => "favorite", :action => "create", 
                            :favorite => specie, :url => specie['url']}, :method=>:post, 
                            class: "btn btn-success  float-right fas fa-heart"  
                        %>
                    </div>
                    <div class="card-body">
                        <p>Classificação: <%= specie['classification'] %> <p>
                        <p>Designação: <%= specie['designation'] %> <p>
                        <p>Altura: <%= specie['average_height'] %> <p>
                        <p>Tempo de Vida: <%= specie['average_lifespan'] %> <p>
                        <p>Cor dos Olhos: <%= specie['reye_colors'] %> <p>
                        <p>Cor do Cabelo: <%= specie['hair_colors'] %> <p>
                        <p>Cor da pele: <%= specie['skin_colors'] %> <p>
                        <p>Lingua: <%= specie['language']%> <p>
                        <p>Planeta: <%= specie['homeworld'] %> <p>
                        <p>Pessoas: <%= specie['people'] %> <p>
                        <p>Filmes: <%= specie['films'] %> <p>
                        <p>Criado em: <%= specie['created'] %> <p>
                        <p>Atualizado em: <%= specie['edited'] %> <p><br>        
                        <a href="#" class="btn btn-primary">Favoritar</a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>