<div class="container">
    <h1 class="text-center mt-2">Lista de Naves</h1>
    <div class="row">
    <% @starships['results'].each do |star| %>
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="card-header">
                        <%= star['name'] %>
                        <%= link_to "", {:controller => "favorite", :action => "create", 
                            :favorite => star, :url => star['url']}, :method=>:post, 
                            class: "btn btn-success  float-right fas fa-heart"  
                        %>
                    </div>
                    <div class="card-body">
                        <p>Modelo: <%= star['model'] %> <p>
                        <p>Classe: <%= star['starship_class'] %> <p>
                        <p>Fabricante: <%= star['manufacturer'] %> <p>
                        <p>Custo: <%= star['cost_in_credits'] %> <p>
                        <p>Comprimento: <%= star['length'] %> <p>
                        <p>Capacidade: <%= star['crew'] %> <p>
                        <p>Passageiros: <%= star['passengers'] %> <p>
                        <p>Velocidade: <%= star['max_atmosphering_speed']%> <p>
                        <p>Classe: <%= star['hyperdrive_rating']%> <p>
                        <p>Mega Luzes: <%= star['MGLT ']%> <p>
                        <p>Carga Maxima: <%= star['cargo_capacity'] %> <p>
                        <p>Tempo de Consumo: <%= star['consumables'] %> <p>
                        <p>Filmes: <%= star['films'] %> <p>
                        <p>Pessoas: <%= star['pilots'] %> <p>
                        <p>Criado em: <%= star['created'] %> <p>
                        <p>Atualizado em: <%= star['edited'] %> <p><br>        
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>